matplotlib==3.4.2
opencv-python
pandas==1.2.5
tqdm
pyyaml
seaborn
gdown
torch==1.13.1
torchvision==0.10.0
facenet_pytorch
face-detection==0.2.1
numpy==1.19.2
thop==0.0.31.post2005241907
scikit-learn==0.24.2
scipy==1.7.0
KDEpy==1.1.0